@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "./reset.css";
* {
    box-sizing: border-box;
  }

  .root{
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
  }
.topo{
    background-color: #C3CFD9;
    width: 100%;
    height: 67px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 34px;
    color: #E8833A;
    top: 0px;

}

.baixotopo{
height: 110px;
width: 100%;
left: 0px;
top: 67px;
font-size: 24px;
justify-content: center;
align-items: center;
display: flex;
font-weight: 400;
color: #293845;

}

.filmes {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.filmes img {
    height: 193px;
    width: 129px;
    background-color: white;
    padding: 3px;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    margin-bottom: 10px;
}
